{% extends "base.html" %}

{% block titulo %}Nuevo post - Mi Blog{% endblock &}

{% block contenido %}
    <div class = "form-container">
        <h2> Crear Nuevo post </h2>

        <form method = "POST" action = "{{ url_for('nuevo_post') }}">
            <div class = "form_group">
                <label for = "titulo">Titulo del post:</label>
                <input type = "text"
                       id = "titulo"
                       name = "titulo"
                       required
                       placeholder = "Ej: mi experiencia aprendiendo Flask">
            </div>

            <div class = "form-group">
                <label for = "autor">Tu nombre:</label>
                <input type = "text"
                        id = "autor"
                        name = "autor"
                        required
                        placeholder = "Ej: Maria Lopez">
            </div>

            <div class = "form-group">
                <label for = "contenido">contenido</label>
                <textarea id = "contenido"
                         name = "contenido"
                         rows = "10"
                         required
                         placeholder = " Escribe aqui el contenido de tu post. . .">
</textarea>
            </div>

            <div class = "form-actions">
                <button type = "submit" class = "btn btn-primary">
                    publicar Post
                </button>
                <a href = "{{ url_for('index') }}" class = "btn btn-secondary">
                    cancelar
                </a>
            </div>
        </form>
    </div>
{% endblock %}